[submodule "redis"]
	path = redis
	url = https://github.com/pcmoritz/redis
[submodule "glog"]
	path = glog
	url = https://github.com/google/glog
[submodule "leveldb"]
	path = leveldb
	url = https://github.com/google/leveldb
[submodule "grpc"]
	path = grpc
	url = https://github.com/grpc/grpc
[submodule "gflags"]
	path = gflags
	url = https://github.com/gflags/gflags
